{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/sneakers/sneaker-detail.css' %}" />
{% endblock %}

{% block content %}
<section class="sneaker-container">
  <div class="sneaker-img">
    
    <img src="{% static 'images/splash.svg' %}" alt="{{ sneaker.brand }} {{ sneaker.model }}" />
  </div>
  <div class="sneaker-details">
    <h1>{{ sneaker.brand }} {{ sneaker.model }}</h1>
    <p><strong>Colorway:</strong> {{ sneaker.colorway }}</p>
    <p><strong>Year:</strong> {{ sneaker.year }}</p>
    
    <div class="sneaker-actions">
        <a href="{% url 'sneaker-update' sneaker.id %}" class="btn warn">Edit</a>
        <a href="{% url 'sneaker-delete' sneaker.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<hr>

<div class="collection-condition-container">
  
  <section class="collection-log">
    <div class="subsection-title">
      <h2>Collection Log</h2>
    </div>
    
    <form action="{% url 'add-collecting' sneaker.id %}" method="POST" class="log-form">
      {% csrf_token %}
      {{ collecting_form.as_p }}
      <button type="submit" class="btn">Add Log Entry</button>
    </form>

    <table>
      <thead>
        <tr><th>Date</th><th>Status</th></tr>
      </thead>
      <tbody>
        {% for item in sneaker.collection_set.all %}
          <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.get_condition_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  
  <section class="conditions">
    <h3>Current Tags</h3>
    <div class="tags-container">
      {% if sneaker.conditions.all.count > 0 %}
        {% for cond in sneaker.conditions.all %}
          <div class="card">
            <span style="color: {{ cond.color }}">{{ cond.name }}</span>
          </div>
        {% endfor %}
      {% else %}
        <p>No condition tags assigned yet.</p>
      {% endif %}
    </div>

    <h3>Available Tags</h3>
    <div class="available-tags">
      {% if conditions.count > 0 %}
        {% for cond in conditions %}
          <div class="card">
            <span style="color: {{ cond.color }}">{{ cond.name }}</span>
            <form action="{% url 'associate-condition' sneaker.id cond.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn small">Add</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <h5>All tags have been assigned.</h5>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
