{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete Sneaker?</h1>
  <img src="{% static 'images/nerd-snekaer.svg' %}" alt="A sneaker using a computer" />
</div>

<h2>Are you sure you want to delete {{ sneaker.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'sneaker-detail' sneaker.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}

{% extends 'base.html' %}

{% block content %}
  <h1>Delete Sneaker</h1>
  <h4>Are you sure you want to delete the {{ object.brand }} {{ object.model }}?</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete" class="btn danger">
    <a href="{% url 'sneaker-detail' object.id %}">Cancel</a>
  </form>
{% endblock %}
